<!DOCTYPE html>
<html lang="it">
  <head>
    <link rel="icon" href="/public/images/favicon.ico" />
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <link
      rel="manifest"
      type="application/manifest+json"
      href="/app.webmanifest"
    />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Pokédex</title>
  </head>
  <body>
    <div id="container">
      <div id="logo">
        <a href="/"><img alt="" src="/public/images/pokedle-logo.webp" /></a>
      </div>
      <h1 id="pokedex-title"><%= name %>'s Pokédex</h1>
      <div>
        <% for (var i = 0; i < history.length; i++) { %>
        <div class="pokemon-guessed" id="<%= history[i].pokemon %>">
          <img
            src="/public/images/sprites/<%= history[i].pokemon %>.png"
            width="100px"
            height="100px"
          />
          <p class="pokedex-text"><%= history[i].pokemon %></p>
          <p class="pokedex-text">
            Guessed: <%= history[i].timesGuessed %> times
          </p>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
